# Mobile Tools for Java (J2ME)
#.mtj.tmp/

# Package Files #
*.mp4
checkpoints/
BFM/
__pycache__
__MACOSX
*.zip
docs/demo/
third_part/SadTalker/
images/_010_30_Hero/3dmm/

images/_010_30_Hero/

images_resized/_010_30_Hero/3dmm/

images_resized/_010_30_Hero/

*.png

*.jpeg

batch_180923_resized/010_30/3dmm/

batch_180923_resized/020_30/3dmm/

batch_180923_resized/030_30/3dmm/

batch_180923_resized/040_30/3dmm/

*.npy

*.wav
