# Mobile Tools for Java (J2ME)
#.mtj.tmp/

# Package Files #
*.mp4
checkpoints/
BFM/
__pycache__
__MACOSX
*.zip
docs/demo/
third_part/SadTalker/
images/_010_30_Hero/3dmm/

images/_010_30_Hero/

images_resized/_010_30_Hero/3dmm/

images_resized/_010_30_Hero/
